<div class="max-w-2x1 mx-auto mt-32 sm:mt-56 sm:px-6 lg:px-8">
    <div class="text-center lg:mx-0">
        <blockquote class="mt-6 text-3x1 italic font-semibold md:text-6x1">
            "This tool saves me so much time every day."
        </blockquote>
        <div class="mt-6 text-base">
               <p class="font-semibold">Flavio, CEO of SECRETPLAN</p>
        </div>
    </div>

</div>